@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800;900&family=Inter:wght@400;600;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body, #root { min-height: 100%; }
  body { font-family: 'Inter', sans-serif; }
}
@layer utilities {
  .font-brand { font-family: 'Montserrat', sans-serif; }
  .font-body { font-family: 'Inter', sans-serif; }
}
